/* src/app/image-editor/image-editor.component.css */

/* Style général de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #ffd000;
  margin: 0;
  padding: 20px;

}

.page
{
  height: 100vh;
  background: rgb(18, 1, 1);
  background: linear-gradient(260deg, rgb(229, 189, 10) 0%, rgb(229, 189, 10) 0%, rgb(229, 189, 10) 99%);
  padding-top: 10em;
}

/* Conteneur principal pour centrer le contenu */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style des éléments de formulaire */
input[type="file"] {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #ffd000;
  cursor: pointer;
  width: 80%;
}

input[type="file"]::file-selector-button {
  border: none;
  background-color: #ffd000;
  color: #000000;
  padding: 10px 20px;
  margin: 0 25px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style du bouton de téléchargement */
button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 16px;
  color: #0b0b0b;
  background-color: #ffd000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffd000;
}

/* Style pour l'indicateur de progression */
div[ngIf] {
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 18px;
  color: #000000;
}

/* Style du canvas caché */
canvas {
  display: none;
}

.logo-selection
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
}



button.selected {
  background-color: #ffd000; /* Couleur de fond lorsque sélectionné */
  color: #ffffff; /* Couleur du texte lorsque sélectionné */
  border: 1px solid #ffd000; /* Bordure colorée lorsque sélectionné */
  font-weight: bold; /* Texte en gras lorsque sélectionné */
}

.progress
{
  display: flex;
  justify-content: center;
}
.logos{
  display:flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}

.logos img {
  max-width: 100px; /* Ajustez la taille selon vos besoins */
  margin-top: 10px; /* Ajoute un espacement */
}

/* Responsiveness */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  input[type="file"] {
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }

  p {
    font-size: 16px;
  }
}
